<section class="journey-section">
  <h1 i18n="@@edu.heading">My Journey</h1>
  
  <div class="journey-grid">
    <mat-card *ngFor="let item of journeyItems" class="journey-card">
      
      <div class="card-custom-header" [style.background-color]="item.headerColor">
        <h2 class="mat-h2">{{ item.title }}</h2>
        <p class="mat-subheading-1">{{ item.subtitle }}</p>
      </div>

      <div class="logo-area">
        <img [src]="item.logoUrl" alt="{{ item.title }} logo" i18n-alt="@@edu.logoAlt" class="item-logo">
      </div>

      <mat-card-content class="details-content">
        <ul>
          <span i18n="@@edu.focus">🛠️ Core Technical Focus</span>
          <li *ngFor="let detail of item.details" [innerHTML]="detail">
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>