<section id="intro-section" class="section">
  <h2>Hi, I'm Amjad Haider.</h2>
  <p class="tagline">I am a Master's Graduate(Commercial Vehicle Technology) from the University of Kaiserslautern-Landau.
    My interests include research in Machine Learning, Large Language Models(LLMs) aligned in the field of Autonomous Driving, Robotics and Computer Vision.
    The area of Neural Network Model Compression has been the topic of my master thesis research. Outside my work, i enjoy reading thrillers
    and play badminton.
  </p>
  
</section>